$nav-bg-colour: #4056a1;
$body-bg-colour: #f4f1ec;
$reg-font: 'Source Sans 3', sans-serif;
$logo-font: 'Bungee', sans-serif;

@mixin flexSpecs($justifyContent: space-between, $dir: row, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justifyContent;
  flex-direction: $dir;
}
