@use 'vars';

#user-profile {
  @include vars.flexSpecs($justifyContent: flex-end, $dir: column);
  height: 520px;
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 650px;
  background-image: url(../images/foggy-birds.png);

  div {
    display: flex;
  }

  h2 {
    margin: 0 0 1em 0;
  }

  img {
    width: 50%;
    margin: auto;
    opacity: 50%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    max-width: 100%;
    min-width: 400px;
  }
}
