nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  i {
    color: red;
    margin-top: 0.5em;
  }
}

#logo {
  font-family: 'Bungee', sans-serif;
}

#new_tweet {
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  &:active {
    color: red;
  }

  &:hover {
    animation: 0.7s linear 0.1s infinite alternate new-tweet-text;
    cursor: pointer;
  }

  i {
    animation: 0.5s linear 0.1s infinite alternate new-tweet-arrow-up;
  }

  .down {
    animation: 0.5s linear 0.1s infinite alternate new-tweet-arrow-down;
  }
}

.down {
  transform: rotate(180deg);
}

@keyframes new-tweet-arrow-down {
  from {
    transform: rotate(180deg) translateY(0);
  }

  to {
    transform: rotate(180deg) translateY(-20px);
  }
}

@keyframes new-tweet-arrow-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

@keyframes new-tweet-text {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#to_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  height: 3em;
  color: white;
  background-color: #4056a1;
  cursor: pointer;

  &:hover {
    color: red;
  }

  i {
    margin-left: 1em;
    transform: scale(1.5);
  }

  .hidden {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    max-width: 100%;
    min-width: 400px;
  }
}
