#tweet-text {
  border: none;
  background-color: inherit;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}

form {
  display: inherit;
  flex-direction: inherit;

  button {
    background-color: #4056a1;
    color: #ffffff;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid black 2px;
  padding: 0.5em 0;
  font-family: 'Bungee', sans-serif;
}

.char-limit {
  color: red;
}

.new_tweet_error {
  color: red;
  border: solid red 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  i {
    margin: 0 1em;
  }

  p {
    margin: 0.5em;
  }
}

.hidden {
  display: none;
}
