@use 'vars';

#tweet-text {
  border: none;
  background-color: inherit;
}

.new-tweet {
  @include vars.flexSpecs($dir: column, $align: unset);
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}

form {
  display: inherit;
  flex-direction: inherit;

  button {
    background-color: vars.$nav-bg-colour;
    color: #ffffff;
  }
}

footer {
  @include vars.flexSpecs;
  border-top: solid black 2px;
  padding: 0.5em 0;
  font-family: vars.$logo-font;
}

.char-limit {
  color: red;
}

.new_tweet_error {
  @include vars.flexSpecs;
  color: red;
  border: solid red 2px;
  margin-bottom: 1em;
  background-color: lightpink;
  border-radius: 5px;

  i {
    margin: 0 1em;
  }

  p {
    margin: 0.5em;
  }
}

.hidden {
  display: none;
}
