@use 'vars';

article {
  &:hover {
    box-shadow: 7px 7px 7px rgb(0 0 0 / 40%);
  }

  margin-bottom: 1em;
}

.tweet {
  border: solid black 2px;
  padding: 0.5em 0.5em;

  header {
    @include vars.flexSpecs;
    height: unset;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  footer {
    font-family: unset;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 0.75em;
  }
}

.tweet_text {
  padding: 0.8em 0.8em 0 0.8em;

  p {
    overflow-wrap: break-word;
  }
}

.tweet_author {
  @include vars.flexSpecs;
  margin-top: 0.5em;

  img {
    margin-right: 1em;
  }
}

i {
  margin-right: 1em;
}

.icons {
  @include vars.flexSpecs;
  color: vars.$nav-bg-colour;

  i {
    margin: 0.3em;

    &:hover {
      cursor: pointer;
      color: goldenrod;
    }
  }
}

.handle {
  opacity: 0.4;
}
