header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 520px;
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 650px;
  background-image: url(../images/foggy-birds.png);
}
header div {
  display: flex;
}
header h2 {
  margin: 0 0 1em 0;
}
header img {
  width: 50%;
  margin: auto;
  opacity: 50%;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    max-width: 100%;
    min-width: 400px;
  }
}
