header {
  height: 520px;
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 650px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../images/foggy-birds.png);
}

header div {
  /* border: solid black 1px; */
  display: flex;
}

header h2 {
  margin: 0 0 1em 0;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    max-width: 100%;
    min-width: 400px;
  }
}
