#tweet-text {
  border: none;
  background-color: inherit;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 100%;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}

form {
  display: inherit;
  flex-direction: inherit;
}

form button {
  background-color: #4056a1;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid black 2px;
  padding: 0.5em 0;
  font-family: 'Bungee', sans-serif;
}

.char-limit {
  color: red;
}
