article {
  margin-bottom: 1em;
}
article:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.tweet {
  border: solid black 2px;
  padding: 0.5em 0.5em;
}
.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: unset;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.tweet footer {
  font-family: unset;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 0.75em;
}

.tweet_text {
  padding: 0.8em 0.8em 0 0.8em;
}
.tweet_text p {
  overflow-wrap: break-word;
}

.tweet_author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.5em;
}
.tweet_author img {
  margin-right: 1em;
}

i {
  margin-right: 1em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #4056a1;
}
.icons i {
  margin: 0.3em;
}
.icons i:hover {
  cursor: pointer;
  color: goldenrod;
}

.handle {
  opacity: 0.4;
}
